.links {
    
    display: flex;
    justify-content: center;
    margin-left: 50px;

}
.links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}
.links1{
    margin-left: 30px;
    }


    .box{
    
        height: 595px;
        background-image:url(hd.gif);
        background-size:cover ;
        background-repeat: no-repeat;
        box-shadow:3px 3px 3px black;
        width: 100%;
        background-size: cover;
    }
    .alg{
        font-family:bell mt;
        font-size:40px;
        transition: all 1s;
        color:rgb(202, 202, 38);  
        font-weight: 800;
        transition: all 1s linear; 
    }
    .alg1{
        font-size:100px;
        font-weight: 400;
        font-family:Bell MT;
        color:rgba(211, 143, 16, 0.86); 
        transition: all 1s linear;   
     }
     .alg1:hover{
         font-size:110px;  
     }
     .alg:hover{
        font-size:43px;
        color:yellow;
    }

    .siz{
       
        width: 160px;
        height: 70pX;
        border-radius: 2px;
        transition: all 1s linear;
        box-shadow: 3px 3px 8px black;
     }

     .siz1{
        width: 160px;
        height: 70pX;
        color:whitesmoke;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.219);
        border: none;
        box-shadow: 4px 4px 8px rgb(252, 251, 251);
        transition: all 1s linear;
        
     }


     .siz:hover{
        width: 161.5px;
        height: 71.5pX;  
        font-size: 16px;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.56);
    }

    .siz1:hover{
        border: 1px gray double;
        color:black;
        font-size: 16px;
        font-weight: bold;
        background: rgba(180, 172, 172, 0);
        width: 161.5px;
        height: 71.5pX;
     }

   